/* General styles */
body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

/* Media query for smartphones (max width of 768px) */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack article and aside vertically on mobile */
  }

  article,
  aside {
    flex: auto;
    width: 100%;
  }
}
